* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

$font_family_common: Montserrat;
$card_radius: 30px;
$color_green: #BCEC30;
$color_green_light: #E1FF8F;
$color_black: #202027;
$button_border_radius: 60px;
$font_size_h1: 64px;

.top {
    position: relative;
    background-color: $color_green_light;
    height: 800px;

    &__title {

        font-size: 63px;
        font-family: $font_family_common;
        flood-color: $color_black;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        letter-spacing: 0px;
    }

    &__description {
        margin-top: 24px;
        font-family: $font_family_common;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;

        &_bold {
            font-weight: 600;
        }
    }

    &__button {
        width: 247px;
        height: 66px;
        margin-top: 48px;
        box-sizing: border-box;
        border: 1 solid $color_black;
        border-radius: $button_border_radius;
        background: $color_black;
        color: #fff;
        font-family: $font_family_common;
        font-size: 24px;
        font-weight: 600;
        line-height: 142%;
        letter-spacing: 0px;
        text-align: center;

        &:hover {
            background: #fff;
            color: $color_black;
            transition: all 0.5s;
            cursor: pointer;
        }
    }

    &__star1 {
        position: absolute;
        top: 69px;
        left: 159px;
    }

    &__star2 {
        position: absolute;
        top: 94px;
        left: 63px;

    }

    &__star3 {
        position: absolute;
        top: 538px;
        left: 938px;
    }

    &__star4 {
        position: absolute;
        top: 568px;
        left: 1013px;
    }

    &__star5 {
        position: absolute;
        top: -334px;
        left: 854px;
    }

}

.title {
    position: relative;
    width: 768px;
    padding-top: 196px;
    box-sizing: border-box;
}