@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  position: relative;
  background-color: #E1FF8F;
  height: 800px;
}
.top__title {
  font-size: 63px;
  font-family: Montserrat;
  flood-color: #202027;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  letter-spacing: 0px;
}
.top__description {
  margin-top: 24px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.top__description_bold {
  font-weight: 600;
}
.top__button {
  width: 247px;
  height: 66px;
  margin-top: 48px;
  box-sizing: border-box;
  border: 1 solid #202027;
  border-radius: 60px;
  background: #202027;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  letter-spacing: 0px;
  text-align: center;
}
.top__button:hover {
  background: #fff;
  color: #202027;
  transition: all 0.5s;
  cursor: pointer;
}
.top__star1 {
  position: absolute;
  top: 9%;
  left: 11%;
}
.top__star2 {
  position: absolute;
  top: 12%;
  left: 4%;
}
.top__star3 {
  position: absolute;
  top: 67%;
  left: 65%;
}
.top__star4 {
  position: absolute;
  top: 71%;
  left: 71%;
}
.top__star5 {
  position: absolute;
  top: -50%;
  left: 58%;
}
.top__dynamic-frame {
  position: absolute;
  left: -30px;
  height: 90px;
  width: 3320px;
  background-color: #BCEC30;
  margin-top: 156px;
}

.title {
  width: 768px;
  padding-top: 196px;
  box-sizing: border-box;
}

.games-intro {
  background-color: #202027;
  background-image: url(img/star_big_grbrder.svg);
  background-repeat: no-repeat;
  background-position-x: 112%;
  background-position-y: 10%;
  /*   &__star3 {
      position: absolute;
      left: 68%;
      top: 55%;
      box-sizing: border-box;
      transform: rotate(5.45eg);
      z-index: 1; 
  } */
}
.games-intro__star1 {
  position: absolute;
  left: 2%;
  top: 97%;
  box-sizing: border-box;
  transform: rotate(5.45eg);
}
.games-intro__star2 {
  position: absolute;
  left: 3%;
  top: 100%;
  box-sizing: border-box;
  transform: rotate(5.45eg);
}

.games-intro-title {
  padding-top: 94px;
  padding-bottom: 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  align-items: flex-start;
}
.games-intro-title__heading {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}
.games-intro-title__description {
  width: 788px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.games-intro-items {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  /*   display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  */
}

.games-intro-double {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.games-intro-card {
  /*  grid-column: span 4; */
  display: flex;
  flex-direction: column;
  width: 378px;
  /* height: 473px; */
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
}
.games-intro-card:hover {
  scale: 109%;
  transition: 0.5s;
}
.games-intro-card__img {
  height: 314px;
  width: 378px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 165%;
}
.games-intro-card__text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 36px;
}
.games-intro-card__button {
  width: 108px;
  height: 35px;
  border: none;
  border-radius: 53px;
  background-color: #f7f7f7;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
}
.games-intro-card__title {
  font-size: 32px;
  font-family: Montserrat;
  color: #202027;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}
.games-intro-card .card-img-1 {
  background-image: url(img/game_frame1_1.svg);
  background-size: 100%;
}
.games-intro-card .card-img-2 {
  background-image: url(img/game_frame2.svg);
  background-size: 165%;
}
.games-intro-card .card-img-3 {
  background-image: url(img/game_frame3.svg);
  background-size: 165%;
}
.games-intro-card .card-img-4 {
  position: relative;
  background-image: url(img/game_frame4_1.svg);
  background-size: 100%;
}
.games-intro-card .card-img-4 .sign-comrade {
  /* ✊ */
  position: absolute;
  width: 96px;
  height: 98px;
  left: 37%;
  top: 35%;
  font-size: 87px;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  background: #FFC700;
}
.games-intro-card .card-img-5 {
  background-image: url(img/game_frame5_1.svg);
  background-size: 100%;
}
.games-intro-card .card-img-6 {
  background-image: url(img/game_frame6.svg);
  background-size: 165%;
}

.games {
  background-color: #202027;
  padding-top: 46px;
}/*# sourceMappingURL=style.css.map */