@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  position: relative;
  background-color: #E1FF8F;
  height: 800px;
  background-image: url(img/group_star_big.svg);
  background-repeat: no-repeat;
  background-position-x: 57vw;
  background-position-y: -20vh;
}
.top__title {
  font-size: 63px;
  font-family: Montserrat;
  flood-color: #202027;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  letter-spacing: 0px;
}
.top .title-mobile {
  display: none;
}
.top__description {
  margin-top: 24px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.top__description_bold {
  font-weight: 600;
}
.top__button {
  width: 247px;
  height: 66px;
  margin-top: 48px;
  box-sizing: border-box;
  border: 1 solid #202027;
  border-radius: 60px;
  background: #202027;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  letter-spacing: 0px;
  text-align: center;
}
.top__button:hover {
  background: #fff;
  color: #202027;
  transition: all 0.5s;
  cursor: pointer;
}
.top__star1 {
  position: absolute;
  top: 9%;
  left: 11%;
}
.top__star2 {
  position: absolute;
  top: 12%;
  left: 4%;
}
.top__star3 {
  position: absolute;
  top: 67%;
  left: 65%;
}
.top__star4 {
  position: absolute;
  top: 71%;
  left: 71%;
}
.top__star5 {
  position: absolute;
  top: -50%;
  left: 58%;
}
.top__dynamic-frame {
  position: absolute;
  left: -30px;
  height: 90px;
  width: 100.5vw;
  background-color: #BCEC30;
  margin-top: 156px;
}

.title {
  width: 768px;
  padding-top: 196px;
  box-sizing: border-box;
}

.games-intro {
  background-color: #202027;
  background-image: url(img/star_big_grbrder.svg);
  background-repeat: no-repeat;
  background-position-x: 114%;
  background-position-y: 2%;
  /*   &__star3 {
      position: absolute;
      left: 68%;
      top: 55%;
      box-sizing: border-box;
      transform: rotate(5.45eg);
      z-index: 1; 
  } */
}
.games-intro__star1 {
  position: absolute;
  left: 3vw;
  top: 102vh;
  box-sizing: border-box;
  transform: rotate(5.45eg);
}
.games-intro__star2 {
  position: absolute;
  left: 5vw;
  top: 105vh;
  box-sizing: border-box;
  transform: rotate(5.45eg);
}
.games-intro__star3 {
  position: absolute;
  left: 86vw;
  top: 152vh;
  box-sizing: border-box;
  transform: rotate(5.45eg);
}
.games-intro__star4 {
  position: absolute;
  left: 89vw;
  top: 154vh;
  box-sizing: border-box;
  transform: rotate(5.45eg);
}
.games-intro__star5 {
  position: absolute;
  left: 86vw;
  top: 367vh;
  box-sizing: border-box;
  transform: rotate(5.45eg);
}
.games-intro__star6 {
  position: absolute;
  left: 89vw;
  top: 364vh;
  box-sizing: border-box;
  transform: rotate(5.45eg);
}

.games-intro-title {
  padding-top: 94px;
  padding-bottom: 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  align-items: flex-start;
}
.games-intro-title__heading {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}
.games-intro-title__heading-mobile {
  display: none;
}
.games-intro-title__description {
  width: 788px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.games-intro-items {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  /*   display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  */
}

.games-intro-double {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.games-intro-card-link {
  display: block;
}

.games-intro-card {
  /*  grid-column: span 4; */
  display: flex;
  flex-direction: column;
  width: 378px;
  /* height: 473px; */
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  transition: 0.5s;
}
.games-intro-card:hover {
  scale: 109%;
}
.games-intro-card__img {
  height: 314px;
  width: 378px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 165%;
}
.games-intro-card__text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 36px;
}
.games-intro-card__button {
  width: 108px;
  height: 35px;
  border: none;
  border-radius: 53px;
  background-color: #f7f7f7;
}
.games-intro-card__button-p {
  width: 80px;
  height: 18px;
  padding: 8px 16px 10px 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  color: #202027;
}
.games-intro-card__title {
  font-size: 32px;
  font-family: Montserrat;
  color: #202027;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}
.games-intro-card__description {
  display: none;
}
.games-intro-card__title-mobile {
  display: none;
}
.games-intro-card__button-mobile {
  display: none;
}
.games-intro-card .card-img-1 {
  background-image: url(img/game_frame1_1.svg);
  background-size: 100%;
}
.games-intro-card .card-img-2 {
  background-image: url(img/game_frame2.svg);
  background-size: 165%;
  background-color: rgba(250, 168, 3, 0.9725490196);
}
.games-intro-card .card-img-3 {
  background-image: url(img/game_frame3.svg);
  background-size: 165%;
  background-color: #5956d9;
}
.games-intro-card .card-img-4 {
  position: relative;
  background-image: url(img/game_frame4_1.svg);
  background-size: 100%;
  background-color: #241a58;
}
.games-intro-card .card-img-4 .sign-comrade {
  /* ✊ */
  position: absolute;
  width: 96px;
  height: 98px;
  left: 37%;
  top: 35%;
  font-size: 87px;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  background: #FFC700;
}
.games-intro-card .card-img-5 {
  background-image: url(img/game_frame5_1.svg);
  background-size: 100%;
}
.games-intro-card .card-img-6 {
  background-image: url(img/game_frame6.svg);
  background-size: 165%;
  background-color: #241a58;
}

.games {
  background-color: #202027;
  padding-top: 46px;
  padding-bottom: 144px;
  background-image: url(img/star_small_grbrder.svg);
  background-repeat: no-repeat;
  background-position-x: 112%;
  background-position-y: 2%;
}
.games__heading {
  margin-top: 46px;
  margin-bottom: 72px;
}

.games-block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mini-game-item {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  border-radius: 30px;
}
.mini-game-item_reverce {
  flex-direction: row-reverse;
}

.mini-game-item-half {
  box-sizing: border-box;
  width: 600px;
  height: 500px;
  padding: 48px;
}

.mini-game-info {
  display: flex;
  flex-direction: column;
}
.mini-game-info__title {
  color: #202027;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-game-info__description {
  height: 64px;
}
.mini-game-info__button {
  margin-top: 32px;
}

.mini-game-img {
  width: 600px;
  height: 500px;
  background-size: 101%;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.mini-game-img_1 {
  background-image: url(img/game_frame1_1.svg);
  background-size: 102%;
}
.mini-game-img_2 {
  background-image: url(img/game_frame2.svg);
  background-size: 163%;
  background-color: rgba(250, 168, 3, 0.9725490196);
}
.mini-game-img_3 {
  background-image: url(img/game_frame3.svg);
  background-size: 199%;
  background-color: #5956d9;
}
.mini-game-img_4 {
  background-image: url(img/game_frame5_1.svg);
  background-size: 102%;
}
.mini-game-img_5 {
  position: relative;
  background-image: url(img/game_frame4_1.svg);
  background-size: 100%;
  background-color: #241a58;
}
.mini-game-img_5 .mini-game-img-sign-comrade {
  position: absolute;
  width: 153px;
  height: 164px;
  left: 37%;
  top: 35%;
  font-size: 128px;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  background: #FFC700;
}
.mini-game-img_6 {
  background-image: url(img/game_frame6.svg);
  background-size: 157%;
  background-color: #241a58;
}

.footer {
  height: 150px;
  color: #BDED35;
  background-color: #BDED35;
}
.footer__rights {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #202027;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    background-image: url(img/star_big_mobile.svg);
    background-repeat: no-repeat;
    background-position-x: 57vw;
    background-position-y: -9vh;
  }
  .top__star1 {
    top: 17vw;
    left: 10vh;
    width: 21px;
    height: 21px;
  }
  .top__star2 {
    top: 29vw;
    left: 5vh;
    width: 35px;
    height: 35px;
  }
  .top__star3 {
    top: 152vw;
    left: 30vh;
    width: 18px;
    height: 18px;
  }
  .top__star4 {
    top: 160vw;
    left: 33vh;
    width: 41px;
    height: 41px;
  }
  .top .title {
    display: none;
  }
  .top .title-mobile {
    padding-top: 147px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .top .title-mobile__h1 {
    font-size: 40px;
    font-family: Montserrat;
    flood-color: #202027;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0px;
  }
  .top .title-mobile__description {
    padding-top: 24px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .top .title-mobile__description_bold {
    font-weight: 600;
  }
  .top .title-mobile__button {
    width: 285px;
    height: 55px;
    margin-top: 36px;
    box-sizing: border-box;
    border: 1 solid #202027;
    border-radius: 60px;
    background: #202027;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 142%;
    letter-spacing: 0px;
    text-align: center;
  }
  .top .title-mobile__button:hover {
    background: #fff;
    color: #202027;
    transition: all 0.5s;
    cursor: pointer;
  }
  .top__dynamic-frame {
    height: 51px;
    width: 108vw;
  }
  .games-intro {
    background-image: none;
  }
  .games-intro__star1 {
    display: none;
  }
  .games-intro__star2 {
    display: none;
  }
  .games-intro-title__heading {
    display: none;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .games-intro-title__description {
    display: none;
  }
  .games-intro-title__heading-mobile {
    display: block;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
  }
  .games-intro-double {
    gap: 24px;
  }
  .games-intro-card {
    width: 343px;
  }
  .games-intro-card__img {
    height: 284px;
    width: 343px;
  }
  .games-intro-card__button {
    display: none;
  }
  .games-intro-card__title {
    font-size: 32px;
    line-height: 39px;
  }
  .games-intro-card .hidden-game-name {
    display: none;
  }
  .games-intro-card__title-mobile {
    display: block;
    font-family: Montserrat;
    color: #202027;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
    font-size: 32px;
    line-height: 39px;
  }
  .games-intro-card .turn-out-text-game {
    display: block;
  }
  .games-intro-card__description {
    display: block;
    color: #202027;
  }
  .games-intro-card__button-mobile {
    display: block;
    width: 285px;
    height: 55px;
    margin-top: 36px;
    box-sizing: border-box;
    border: 1 solid #202027;
    border-radius: 60px;
    background: #202027;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 142%;
    letter-spacing: 0px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */