* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

$font_family_common: Montserrat;
$color_green: #BCEC30;
$color_green_light: #E1FF8F;
$color_black: #202027;
$button_border_radius: 60px;
$font_size_h1: 64px;
$game_card_brdr_radius: 30px;
$game_bttn_brdr_radius: 53px;
$game_bttn_color: #F7F7F7;
$game_bttn_font_size: 16px;
$game_h2_font_size: 32px;

.top {
    position: relative;
    background-color: $color_green_light;
    height: 800px;
    background-image: url(img/group_star_big.svg);
    background-repeat: no-repeat;
    /*   background-position-x: 57vw;
    background-position-y: -20vh; */
    background-position-x: calc(100% + 370px);
    background-position-y: calc(0% - 310px);

    &__title {

        font-size: 64px;
        font-family: $font_family_common;
        flood-color: $color_black;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        letter-spacing: 0px;
    }

    .title-mobile {
        display: none;
    }

    &__description {
        margin-top: 24px;
        font-family: $font_family_common;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;

        &_bold {
            font-weight: 600;
        }
    }

    &__button {
        width: 247px;
        height: 66px;
        margin-top: 48px;
        box-sizing: border-box;
        border: 1 solid $color_black;
        border-radius: $button_border_radius;
        background: $color_black;
        color: #fff;
        font-family: $font_family_common;
        font-size: 24px;
        font-weight: 600;
        line-height: 142%;
        letter-spacing: 0px;
        text-align: center;

        &:hover {
            background: #fff;
            color: $color_black;
            transition: all 0.5s;
            cursor: pointer;
        }
    }

    &__star1 {
        position: absolute;
        top: 9%;
        left: 11%;
    }

    &__star2 {
        position: absolute;
        top: 12%;
        left: 4%;

    }

    &__star3 {
        position: absolute;
        top: 67%;
        left: 65%;
    }

    &__star4 {
        position: absolute;
        top: 71%;
        left: 71%;
    }

    &__star5 {
        position: absolute;
        top: -50%;
        left: 58%;
    }

}

.dynamic-block {
    max-width: 100%;
    overflow: hidden;
    background-color: $color_green;
}

.dynamic-frame {
    position: relative;
    height: 90px;
    /*width: 3220px;
    background-color: $color_green;  */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 51px;
    padding-left: 49px;
    padding-right: 49px;
    animation: scroll-left 10s linear infinite;
    animation-direction: alternate;


    &__text {
        color: rgb(32, 32, 39);
        font-family: $font_family_common;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;
        white-space: nowrap;

    }

    @keyframes scroll-left {
        from {
            transform: translatex(0%);
        }

        to {
            transform: translatex(calc(100vw - 3220px));
        }
    }


}

.title {
    width: 768px;
    padding-top: 196px;
    box-sizing: border-box;
}

.games-intro {
    position: relative;
    background-color: $color_black;
    /*   background-image: url(img/star_big_grbrder.svg);  */
    background-image: url('data:image/svg+xml,%3Csvg width="1414" height="4814" viewBox="0 0 1414 4814" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1267.57 185.338L1267.78 185.897L1268.3 185.587L1435.84 84.2785L1336.53 253.019L1336.23 253.534L1336.79 253.742L1520.46 321.57L1326.62 349.135L1326.03 349.22L1326.21 349.787L1387.7 535.677L1245.29 401.31L1244.85 400.9L1244.53 401.401L1137.53 565.373L1153.79 370.254L1153.84 369.658L1153.24 369.715L958.331 388.295L1121.02 279.354L1121.52 279.021L1121.1 278.591L985.048 137.788L1171.66 197.059L1172.23 197.24L1172.3 196.646L1197.56 2.48796L1267.57 185.338Z" stroke="%23BCEC30"/%3E%3Cpath d="M1334.68 1489.7L1341.2 1514.3L1341.26 1514.52L1341.47 1514.62L1364.39 1525.68L1339.79 1532.2L1339.57 1532.26L1339.47 1532.47L1328.41 1555.38L1321.89 1530.79L1321.83 1530.57L1321.62 1530.47L1298.7 1519.41L1323.3 1512.89L1323.52 1512.83L1323.62 1512.62L1334.68 1489.7Z" stroke="%23BCEC30"/%3E%3Cpath d="M17.4367 661.922L20.2175 672.403L20.2765 672.625L20.4836 672.725L30.2505 677.437L19.7691 680.218L19.5469 680.277L19.447 680.484L14.7352 690.251L11.9544 679.769L11.8954 679.547L11.6883 679.447L1.92137 674.736L12.4028 671.955L12.6251 671.896L12.7249 671.689L17.4367 661.922Z" stroke="%23BCEC30"/%3E%3Cpath d="M46.2217 715.026L51.3236 734.256L51.3826 734.478L51.5896 734.578L69.5086 743.222L50.2788 748.324L50.0566 748.383L49.9567 748.59L41.3123 766.509L36.2104 747.279L36.1514 747.057L35.9443 746.957L18.0254 738.313L37.2552 733.211L37.4774 733.152L37.5773 732.945L46.2217 715.026Z" stroke="%23BCEC30"/%3E%3Cpath d="M1272.6 1455.6L1275.41 1467.6L1275.47 1467.82L1275.67 1467.93L1286.62 1473.6L1274.62 1476.41L1274.39 1476.47L1274.29 1476.67L1268.62 1487.61L1265.8 1475.62L1265.75 1475.39L1265.54 1475.29L1254.6 1469.62L1266.6 1466.8L1266.82 1466.74L1266.93 1466.54L1272.6 1455.6Z" stroke="%23BCEC30"/%3E%3Cpath d="M1327.5 4726.44L1336.35 4750.36L1336.43 4750.57L1336.64 4750.65L1360.56 4759.5L1336.64 4768.35L1336.43 4768.43L1336.35 4768.64L1327.5 4792.56L1318.65 4768.64L1318.57 4768.43L1318.36 4768.35L1294.44 4759.5L1318.36 4750.65L1318.57 4750.57L1318.65 4750.36L1327.5 4726.44Z" stroke="%23BCEC30"/%3E%3Cpath d="M1243.5 4774.44L1248.57 4788.14L1248.65 4788.35L1248.86 4788.43L1262.56 4793.5L1248.86 4798.57L1248.65 4798.65L1248.57 4798.86L1243.5 4812.56L1238.43 4798.86L1238.35 4798.65L1238.14 4798.57L1224.44 4793.5L1238.14 4788.43L1238.35 4788.35L1238.43 4788.14L1243.5 4774.44Z" stroke="%23BCEC30"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 71%;


    &__star1 {
        position: absolute;
        left: 3vw;
        top: 102vh;
        box-sizing: border-box;
        transform: rotate(5.45eg);
    }

    &__star2 {
        position: absolute;
        left: 5vw;
        top: 105vh;
        box-sizing: border-box;
        transform: rotate(5.45eg);
    }

    &__star3 {
        position: absolute;
        left: 86vw;
        top: 152vh;
        box-sizing: border-box;
        transform: rotate(5.45eg);
    }

    &__star4 {
        position: absolute;
        left: 89vw;
        top: 154vh;
        box-sizing: border-box;
        transform: rotate(5.45eg);
    }

    &__star5 {
        position: absolute;
        left: 86vw;
        top: 367vh;
        box-sizing: border-box;
        transform: rotate(5.45eg);
    }

    &__star6 {
        position: absolute;
        left: 89vw;
        top: 364vh;
        box-sizing: border-box;
        transform: rotate(5.45eg);
    }

    /*   &__star3 {
        position: absolute;
        left: 68%;
        top: 55%;
        box-sizing: border-box;
        transform: rotate(5.45eg);
        z-index: 1; 
    } */
    &__back-stars {
        position: absolute;
        z-index: 0;
    }
}

.games-intro-title {
    padding-top: 94px;
    padding-bottom: 72px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    align-items: flex-start;

    &__heading {
        font-family: $font_family_common;
        font-size: $font_size_h1;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        color: #fff;
    }

    &__heading-mobile {
        display: none;
    }

    &__description {
        width: 788px;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
}


.games-intro-items {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    /*   display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    */
}


.games-intro-double {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.games-intro-card-link {
    display: block;
}

.games-intro-card {
    /*  grid-column: span 4; */
    display: flex;
    flex-direction: column;
    width: 378px;
    /* height: 473px; */
    border-radius: $game_card_brdr_radius;
    background: #fff;
    box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
    transition: 0.5s;

    &:hover {
        scale: 109%;

    }

    &__img {
        height: 314px;
        width: 378px;
        border-radius: 30px;
        box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 165%;
    }

    &__text {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 36px;
    }

    &__button {
        width: 108px;
        height: 35px;
        border: none;
        border-radius: $game_bttn_brdr_radius;
        background-color: #f7f7f7;

    }


    &__button-p {
        width: 80px;
        height: 18px;
        padding: 8px 16px 10px 16px;
        font-family: $font_family_common;
        font-size: $game_bttn_font_size;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: center;
        color: $color_black;
    }

    &__title {
        font-size: $game_h2_font_size;
        font-family: $font_family_common;
        color: $color_black;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__description {
        display: none;
    }

    &__title-mobile {
        display: none;
    }

    &__button-mobile {
        display: none;
    }

    .card-img-1 {
        background-image: url(img/game_frame1_1.svg);
        background-size: 100%;
    }


    .card-img-2 {
        background-image: url(img/game_frame2.svg);
        background-size: 165%;
        background-color: #faa803f8
    }

    .card-img-3 {
        background-image: url(img/game_frame3.svg);
        background-size: 165%;
        background-color: #5956d9
    }

    .card-img-4 {
        position: relative;
        background-image: url(img/game_frame4_1.svg);
        background-size: 100%;
        background-color: #241a58;

        .sign-comrade {
            /* ✊ */
            position: absolute;
            width: 96px;
            height: 98px;
            left: 37%;
            top: 35%;
            font-size: 87px;
            font-weight: 800;
            line-height: 110%;
            letter-spacing: 0px;
            text-align: center;
            background: #FFC700;


        }
    }


    .card-img-5 {
        background-image: url(img/game_frame5_1.svg);
        background-size: 100%;
    }

    .card-img-6 {
        background-image: url(img/game_frame6.svg);
        background-size: 165%;
        background-color: #241a58;
    }


}

.games {
    background-color: $color_black;
    padding-top: 50px;
    padding-bottom: 144px;
    background-image: url(img/star_small_grbrder.svg);
    background-repeat: no-repeat;
    background-position-x: 112%;
    background-position-y: 2%;

    &__heading {
        margin-top: 46px;
        margin-bottom: 72px;
    }
}

.games-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

}

.mini-game-item {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    border-radius: $game_card_brdr_radius;

    &_reverce {
        flex-direction: row-reverse;
    }
}

.mini-game-item-half {
    box-sizing: border-box;

    width: 600px;
    height: 500px;
    padding: 48px
}

.mini-game-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        color: $color_black;
        font-family: $font_family_common;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;

    }

    &__description {
        height: 64px;
    }



    .mini-game-info-mobile-text-br {
        display: none;
    }

    &__button {
        margin-top: 32px;
    }

}

.button-hidden {
    display: none;
    height: 42px;
    margin-top: 24px;
    font-family: $font_family_common;
    font-size: 24px;
    font-weight: 600;
    line-height: 142%;
    letter-spacing: 0px;
    text-align: center;

}

.mini-game-item-guess-number {
    display: none;
    margin-top: 24px;
    flex-direction: column;
    align-items: center;

    &__check {
        width: 90px;
        height: 8px;
        padding: 8px 16px 10px 16px;
        font-family: $font_family_common;
        font-size: 12px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: center;
        color: $color_black;
        border-radius: 20px;

    }

    &__answer {
        font-size: 16px;
        text-align: center;

    }
}

.mini-game-img {
    width: 600px;
    height: 500px;
    background-size: 101%;
    border-radius: $game_card_brdr_radius;
    background-repeat: no-repeat;
    background-position: center;

    &_1 {
        background-image: url(img/game_frame1_1.svg);
        background-size: 102%;
    }

    &_2 {
        background-image: url(img/game_frame2.svg);
        background-size: 163%;
        background-color: #faa803f8
    }

    &_3 {
        background-image: url(img/game_frame3.svg);
        background-size: 199%;
        background-color: #5956d9
    }

    &_4 {
        background-image: url(img/game_frame5_1.svg);
        background-size: 102%;
    }

    &_5 {
        position: relative;
        background-image: url(img/game_frame4_1.svg);
        background-size: 100%;
        background-color: #241a58;

        .mini-game-img-sign-comrade {
            position: absolute;
            width: 153px;
            height: 164px;
            left: 37%;
            top: 35%;
            font-size: 128px;
            font-weight: 800;
            line-height: 110%;
            letter-spacing: 0px;
            text-align: center;
            background: #FFC700;
        }
    }

    &_6 {
        background-image: url(img/game_frame6.svg);
        background-size: 157%;
        background-color: #241a58;
    }
}

.footer {
    height: 150px;

    color: #BDED35;
    background-color: #BDED35;

    &__rights {
        padding-top: 60px;
        padding-bottom: 60px;
        color: $color_black;
        font-family: $font_family_common;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;

    }
}







@import "mobile";